# ***set_index & reset_index Methods in Pandas***

---

In [0]:
import pandas as pd

In [3]:
from google.colab import files
upload = files.upload()

Saving jamesbond.csv to jamesbond.csv

In [0]:
bond = pd.read_csv('jamesbond.csv', index_col='Film')

In [5]:
bond.head()

                       Year         Actor  ... Budget  Bond Actor Salary
Film                                       ...
Dr. No                 1962  Sean Connery  ...    7.0                0.6
From Russia with Love  1963  Sean Connery  ...   12.6                1.6
Goldfinger             1964  Sean Connery  ...   18.6                3.2
Thunderball            1965  Sean Connery  ...   41.9                4.7
Casino Royale          1967   David Niven  ...   85.0                NaN

[5 rows x 6 columns]

In [0]:
bond = pd.read_csv('jamesbond.csv')

In [11]:
bond.head()

                    Film  Year  ... Budget Bond Actor Salary
0                 Dr. No  1962  ...    7.0               0.6
1  From Russia with Love  1963  ...   12.6               1.6
2             Goldfinger  1964  ...   18.6               3.2
3            Thunderball  1965  ...   41.9               4.7
4          Casino Royale  1967  ...   85.0               NaN

[5 rows x 7 columns]

In [0]:
bond.set_index('Film', inplace=True)

In [13]:
bond.head()

                       Year         Actor  ... Budget  Bond Actor Salary
Film                                       ...
Dr. No                 1962  Sean Connery  ...    7.0                0.6
From Russia with Love  1963  Sean Connery  ...   12.6                1.6
Goldfinger             1964  Sean Connery  ...   18.6                3.2
Thunderball            1965  Sean Connery  ...   41.9                4.7
Casino Royale          1967   David Niven  ...   85.0                NaN

[5 rows x 6 columns]

In [15]:
bond.reset_index().head() #reset the index without droping the column

                    Film  Year  ... Budget Bond Actor Salary
0                 Dr. No  1962  ...    7.0               0.6
1  From Russia with Love  1963  ...   12.6               1.6
2             Goldfinger  1964  ...   18.6               3.2
3            Thunderball  1965  ...   41.9               4.7
4          Casino Royale  1967  ...   85.0               NaN

[5 rows x 7 columns]

In [16]:
bond.reset_index(drop=True).head() #reset the index with droping the column

   Year         Actor       Director  Box Office  Budget  Bond Actor Salary
0  1962  Sean Connery  Terence Young       448.8     7.0                0.6
1  1963  Sean Connery  Terence Young       543.8    12.6                1.6
2  1964  Sean Connery   Guy Hamilton       820.4    18.6                3.2
3  1965  Sean Connery  Terence Young       848.1    41.9                4.7
4  1967   David Niven     Ken Hughes       315.0    85.0                NaN

In [18]:
bond.set_index('Year').head()

             Actor       Director  Box Office  Budget  Bond Actor Salary
Year
1962  Sean Connery  Terence Young       448.8     7.0                0.6
1963  Sean Connery  Terence Young       543.8    12.6                1.6
1964  Sean Connery   Guy Hamilton       820.4    18.6                3.2
1965  Sean Connery  Terence Young       848.1    41.9                4.7
1967   David Niven     Ken Hughes       315.0    85.0                NaN