# **Retrieve Row values using LOC**

---

In [0]:
import pandas as pd

In [2]:
from google.colab import files
upload = files.upload()

Saving jamesbond.csv to jamesbond.csv

In [0]:
bond = pd.read_csv('jamesbond.csv', index_col='Film')

In [0]:
bond.sort_index(inplace=True)

In [5]:
bond.head()

                      Year           Actor  ... Budget  Bond Actor Salary
Film                                        ...
A View to a Kill      1985     Roger Moore  ...   54.5                9.1
Casino Royale         2006    Daniel Craig  ...  145.3                3.3
Casino Royale         1967     David Niven  ...   85.0                NaN
Diamonds Are Forever  1971    Sean Connery  ...   34.7                5.8
Die Another Day       2002  Pierce Brosnan  ...  154.2               17.9

[5 rows x 6 columns]

In [6]:
bond.loc['GoldenEye']

Year                            1995
Actor                 Pierce Brosnan
Director             Martin Campbell
Box Office                     518.5
Budget                          76.9
Bond Actor Salary                5.1
Name: GoldenEye, dtype: object

In [7]:
bond.loc['Diamonds Are Forever':'Moonraker']

                       Year           Actor  ... Budget  Bond Actor Salary
Film                                         ...
Diamonds Are Forever   1971    Sean Connery  ...   34.7                5.8
Die Another Day        2002  Pierce Brosnan  ...  154.2               17.9
Dr. No                 1962    Sean Connery  ...    7.0                0.6
For Your Eyes Only     1981     Roger Moore  ...   60.2                NaN
From Russia with Love  1963    Sean Connery  ...   12.6                1.6
GoldenEye              1995  Pierce Brosnan  ...   76.9                5.1
Goldfinger             1964    Sean Connery  ...   18.6                3.2
Licence to Kill        1989  Timothy Dalton  ...   56.7                7.9
Live and Let Die       1973     Roger Moore  ...   30.8                NaN
Moonraker              1979     Roger Moore  ...   91.5                NaN

[10 rows x 6 columns]

In [8]:
bond.loc['GoldenEye':]

                                 Year  ... Bond Actor Salary
Film                                   ...
GoldenEye                        1995  ...               5.1
Goldfinger                       1964  ...               3.2
Licence to Kill                  1989  ...               7.9
Live and Let Die                 1973  ...               NaN
Moonraker                        1979  ...               NaN
Never Say Never Again            1983  ...               NaN
Octopussy                        1983  ...               7.8
On Her Majesty's Secret Service  1969  ...               0.6
Quantum of Solace                2008  ...               8.1
Skyfall                          2012  ...              14.5
Spectre                          2015  ...               NaN
The Living Daylights             1987  ...               5.2
The Man with the Golden Gun      1974  ...               NaN
The Spy Who Loved Me             1977  ...               NaN
The World Is Not Enough          1999  ...              13.5
Thunderball                      1965  ...               4.7
Tomorrow Never Dies              1997  ...              10.0
You Only Live Twice              1967  ...               4.4

[18 rows x 6 columns]

In [9]:
bond.loc[:'On Her Majesty\'s Secret Service']

                                 Year  ... Bond Actor Salary
Film                                   ...
A View to a Kill                 1985  ...               9.1
Casino Royale                    2006  ...               3.3
Casino Royale                    1967  ...               NaN
Diamonds Are Forever             1971  ...               5.8
Die Another Day                  2002  ...              17.9
Dr. No                           1962  ...               0.6
For Your Eyes Only               1981  ...               NaN
From Russia with Love            1963  ...               1.6
GoldenEye                        1995  ...               5.1
Goldfinger                       1964  ...               3.2
Licence to Kill                  1989  ...               7.9
Live and Let Die                 1973  ...               NaN
Moonraker                        1979  ...               NaN
Never Say Never Again            1983  ...               NaN
Octopussy                        1983  ...               7.8
On Her Majesty's Secret Service  1969  ...               0.6

[16 rows x 6 columns]

In [10]:
bond.loc[['For Your Eyes Only','Live and Let Die']]

                    Year        Actor  ... Budget  Bond Actor Salary
Film                                   ...
For Your Eyes Only  1981  Roger Moore  ...   60.2                NaN
Live and Let Die    1973  Roger Moore  ...   30.8                NaN

[2 rows x 6 columns]

In [11]:
bond.loc[['For Your Eyes Only','Live and Let Die','Gold Bond']] #Warning as Gold Bond is not avaiable

KeyError: ignored

In [12]:
"Gold Bond" in bond.index

False