# **Retrieve Row values using iloc in Pandas**

---

In [0]:
import pandas as pd

In [2]:
from google.colab import files
upload = files.upload()

Saving jamesbond.csv to jamesbond.csv

In [0]:
bond = pd.read_csv('jamesbond.csv')

In [4]:
bond.head()

                    Film  Year  ... Budget Bond Actor Salary
0                 Dr. No  1962  ...    7.0               0.6
1  From Russia with Love  1963  ...   12.6               1.6
2             Goldfinger  1964  ...   18.6               3.2
3            Thunderball  1965  ...   41.9               4.7
4          Casino Royale  1967  ...   85.0               NaN

[5 rows x 7 columns]

In [5]:
bond.loc[15]

Film                 A View to a Kill
Year                             1985
Actor                     Roger Moore
Director                    John Glen
Box Office                      275.2
Budget                           54.5
Bond Actor Salary                 9.1
Name: 15, dtype: object

In [6]:
bond.iloc[15]

Film                 A View to a Kill
Year                             1985
Actor                     Roger Moore
Director                    John Glen
Box Office                      275.2
Budget                           54.5
Bond Actor Salary                 9.1
Name: 15, dtype: object

In [7]:
bond.iloc[[15,20]]

                       Film  Year  ... Budget Bond Actor Salary
15         A View to a Kill  1985  ...   54.5               9.1
20  The World Is Not Enough  1999  ...  158.3              13.5

[2 rows x 7 columns]

In [8]:
bond.iloc[:4]

                    Film  Year  ... Budget Bond Actor Salary
0                 Dr. No  1962  ...    7.0               0.6
1  From Russia with Love  1963  ...   12.6               1.6
2             Goldfinger  1964  ...   18.6               3.2
3            Thunderball  1965  ...   41.9               4.7

[4 rows x 7 columns]

In [9]:
bond.iloc[4:8]

                              Film  Year  ... Budget Bond Actor Salary
4                    Casino Royale  1967  ...   85.0               NaN
5              You Only Live Twice  1967  ...   59.9               4.4
6  On Her Majesty's Secret Service  1969  ...   37.3               0.6
7             Diamonds Are Forever  1971  ...   34.7               5.8

[4 rows x 7 columns]

In [10]:
bond.iloc[20:]

                       Film  Year  ... Budget Bond Actor Salary
20  The World Is Not Enough  1999  ...  158.3              13.5
21          Die Another Day  2002  ...  154.2              17.9
22            Casino Royale  2006  ...  145.3               3.3
23        Quantum of Solace  2008  ...  181.4               8.1
24                  Skyfall  2012  ...  170.2              14.5
25                  Spectre  2015  ...  206.3               NaN

[6 rows x 7 columns]

In [11]:
bond.iloc[0:20:3]

                               Film  Year  ... Budget Bond Actor Salary
0                            Dr. No  1962  ...    7.0               0.6
3                       Thunderball  1965  ...   41.9               4.7
6   On Her Majesty's Secret Service  1969  ...   37.3               0.6
9       The Man with the Golden Gun  1974  ...   27.7               NaN
12               For Your Eyes Only  1981  ...   60.2               NaN
15                 A View to a Kill  1985  ...   54.5               9.1
18                        GoldenEye  1995  ...   76.9               5.1

[7 rows x 7 columns]

# **Part 2**

---

In [0]:
bond = pd.read_csv('jamesbond.csv', index_col='Film')

In [13]:
bond.sort_index()

                                 Year  ... Bond Actor Salary
Film                                   ...
A View to a Kill                 1985  ...               9.1
Casino Royale                    2006  ...               3.3
Casino Royale                    1967  ...               NaN
Diamonds Are Forever             1971  ...               5.8
Die Another Day                  2002  ...              17.9
Dr. No                           1962  ...               0.6
For Your Eyes Only               1981  ...               NaN
From Russia with Love            1963  ...               1.6
GoldenEye                        1995  ...               5.1
Goldfinger                       1964  ...               3.2
Licence to Kill                  1989  ...               7.9
Live and Let Die                 1973  ...               NaN
Moonraker                        1979  ...               NaN
Never Say Never Again            1983  ...               NaN
Octopussy                        1983  ...               7.8
On Her Majesty's Secret Service  1969  ...               0.6
Quantum of Solace                2008  ...               8.1
Skyfall                          2012  ...              14.5
Spectre                          2015  ...               NaN
The Living Daylights             1987  ...               5.2
The Man with the Golden Gun      1974  ...               NaN
The Spy Who Loved Me             1977  ...               NaN
The World Is Not Enough          1999  ...              13.5
Thunderball                      1965  ...               4.7
Tomorrow Never Dies              1997  ...              10.0
You Only Live Twice              1967  ...               4.4

[26 rows x 6 columns]

In [14]:
bond.loc['GoldenEye']

Year                            1995
Actor                 Pierce Brosnan
Director             Martin Campbell
Box Office                     518.5
Budget                          76.9
Bond Actor Salary                5.1
Name: GoldenEye, dtype: object

In [15]:
bond.iloc[0]   # it will not map index value to fim column

Year                          1962
Actor                 Sean Connery
Director             Terence Young
Box Office                   448.8
Budget                           7
Bond Actor Salary              0.6
Name: Dr. No, dtype: object

In [16]:
bond.iloc[[5,10,15,20]]

                         Year           Actor  ... Budget  Bond Actor Salary
Film                                           ...
You Only Live Twice      1967    Sean Connery  ...   59.9                4.4
The Spy Who Loved Me     1977     Roger Moore  ...   45.1                NaN
A View to a Kill         1985     Roger Moore  ...   54.5                9.1
The World Is Not Enough  1999  Pierce Brosnan  ...  158.3               13.5

[4 rows x 6 columns]