# **Retrieve Row values using ix in Pandas**

---

In [0]:
import pandas as pd

In [2]:
from google.colab import files
upload = files.upload()

Saving jamesbond.csv to jamesbond.csv

In [0]:
bond = pd.read_csv('jamesbond.csv', index_col='Film')

In [4]:
bond.head()

                       Year         Actor  ... Budget  Bond Actor Salary
Film                                       ...
Dr. No                 1962  Sean Connery  ...    7.0                0.6
From Russia with Love  1963  Sean Connery  ...   12.6                1.6
Goldfinger             1964  Sean Connery  ...   18.6                3.2
Thunderball            1965  Sean Connery  ...   41.9                4.7
Casino Royale          1967   David Niven  ...   85.0                NaN

[5 rows x 6 columns]

In [5]:
bond.loc['GoldenEye']

Year                            1995
Actor                 Pierce Brosnan
Director             Martin Campbell
Box Office                     518.5
Budget                          76.9
Bond Actor Salary                5.1
Name: GoldenEye, dtype: object

In [0]:
bond.ix['GoldenEye'] #ix is not present in current version of pandas

In [0]:
bond.ix[['Diamonds Are Forever','Moonraker','Spectre']]

In [9]:
bond['A View to a Kill':'The World Is Not Enough']

                         Year           Actor  ... Budget  Bond Actor Salary
Film                                           ...
A View to a Kill         1985     Roger Moore  ...   54.5                9.1
The Living Daylights     1987  Timothy Dalton  ...   68.8                5.2
Licence to Kill          1989  Timothy Dalton  ...   56.7                7.9
GoldenEye                1995  Pierce Brosnan  ...   76.9                5.1
Tomorrow Never Dies      1997  Pierce Brosnan  ...  133.9               10.0
The World Is Not Enough  1999  Pierce Brosnan  ...  158.3               13.5

[6 rows x 6 columns]

In [10]:
'Spectre' in bond.index

True

In [11]:
'Sacred Bond' in bond.index

False

In [0]:
bond.ix[0]

In [0]:
bond.ix[10:15]

In [0]:
bond.ix[[5,15,20]]