# **Shared Methods & Column Access in Pandas**

---

In [0]:
import pandas as pd

In [0]:
from google.colab import files

In [3]:
upload = files.upload()

Saving revenue.csv to revenue.csv

In [0]:
rev = pd.read_csv("revenue.csv", index_col='Date')

In [6]:
rev.head()

        New York  Los Angeles  Miami
Date
1/1/16       985          122    499
1/2/16       738          788    534
1/3/16        14           20    933
1/4/16       730          904    885
1/5/16       114           71    253

In [0]:
s = pd.Series([1,2,3])

In [8]:
s.sum()

6

In [9]:
rev.sum()

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [10]:
rev.sum(axis = 0) # Column wise addition

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [11]:
rev.sum(axis = 'index') # Column wise addition

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [12]:
rev.sum(axis = 1)  #Row wise addition

Date
1/1/16     1606
1/2/16     2060
1/3/16      967
1/4/16     2519
1/5/16      438
1/6/16     1935
1/7/16     1234
1/8/16     2313
1/9/16     2623
1/10/16     555
dtype: int64

In [13]:
rev.sum(axis = 'columns')  #Row wise addition

Date
1/1/16     1606
1/2/16     2060
1/3/16      967
1/4/16     2519
1/5/16      438
1/6/16     1935
1/7/16     1234
1/8/16     2313
1/9/16     2623
1/10/16     555
dtype: int64

In [14]:
upload = files.upload()

Saving nba.csv to nba.csv

In [0]:
nba = pd.read_csv('nba.csv')

In [16]:
nba.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

In [17]:
nba.Name

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
457              NaN
Name: Name, Length: 458, dtype: object

In [18]:
nba.Name.head()

0    Avery Bradley
1      Jae Crowder
2     John Holland
3      R.J. Hunter
4    Jonas Jerebko
Name: Name, dtype: object

In [21]:
type(nba.Name)

pandas.core.series.Series

In [22]:
nba['Name']

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
457              NaN
Name: Name, Length: 458, dtype: object

In [23]:
nba['Team'].head()

0    Boston Celtics
1    Boston Celtics
2    Boston Celtics
3    Boston Celtics
4    Boston Celtics
Name: Team, dtype: object

In [24]:
nba[['Team','Name','Weight']]

               Team           Name  Weight
0    Boston Celtics  Avery Bradley   180.0
1    Boston Celtics    Jae Crowder   235.0
2    Boston Celtics   John Holland   205.0
3    Boston Celtics    R.J. Hunter   185.0
4    Boston Celtics  Jonas Jerebko   231.0
..              ...            ...     ...
453       Utah Jazz   Shelvin Mack   203.0
454       Utah Jazz      Raul Neto   179.0
455       Utah Jazz   Tibor Pleiss   256.0
456       Utah Jazz    Jeff Withey   231.0
457             NaN            NaN     NaN

[458 rows x 3 columns]

In [0]:
select = ['Team','Name','Weight']

In [27]:
nba[select]

               Team           Name  Weight
0    Boston Celtics  Avery Bradley   180.0
1    Boston Celtics    Jae Crowder   235.0
2    Boston Celtics   John Holland   205.0
3    Boston Celtics    R.J. Hunter   185.0
4    Boston Celtics  Jonas Jerebko   231.0
..              ...            ...     ...
453       Utah Jazz   Shelvin Mack   203.0
454       Utah Jazz      Raul Neto   179.0
455       Utah Jazz   Tibor Pleiss   256.0
456       Utah Jazz    Jeff Withey   231.0
457             NaN            NaN     NaN

[458 rows x 3 columns]