# **Add New Column to Dataframe in Pandas**

---

In [0]:
import pandas as pd

In [0]:
from google.colab import files

In [4]:
upload = files.upload()

Saving nba.csv to nba.csv

In [0]:
nba = pd.read_csv('nba.csv')

In [6]:
nba.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

In [7]:
nba['Name']

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
457              NaN
Name: Name, Length: 458, dtype: object

In [8]:
nba['Sport'] #error because sport column is not present in the dataframe

KeyError: ignored

In [0]:
nba['Sport'] = 'Basket ball'

In [10]:
nba.head()

            Name            Team  ...     Salary        Sport
0  Avery Bradley  Boston Celtics  ...  7730337.0  Basket ball
1    Jae Crowder  Boston Celtics  ...  6796117.0  Basket ball
2   John Holland  Boston Celtics  ...        NaN  Basket ball
3    R.J. Hunter  Boston Celtics  ...  1148640.0  Basket ball
4  Jonas Jerebko  Boston Celtics  ...  5000000.0  Basket ball

[5 rows x 10 columns]

In [0]:
nba['League'] = 'National Basketball Association'

In [12]:
nba.head()

            Name            Team  ...        Sport                           League
0  Avery Bradley  Boston Celtics  ...  Basket ball  National Basketball Association
1    Jae Crowder  Boston Celtics  ...  Basket ball  National Basketball Association
2   John Holland  Boston Celtics  ...  Basket ball  National Basketball Association
3    R.J. Hunter  Boston Celtics  ...  Basket ball  National Basketball Association
4  Jonas Jerebko  Boston Celtics  ...  Basket ball  National Basketball Association

[5 rows x 11 columns]

In [0]:
nba1 = pd.read_csv('nba.csv')

In [0]:
nba1.insert(3, column='Sport', value='Basketball') ## Specify the location where you want to add your new column

In [16]:
nba1.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 10 columns]