# **Broadcasting Operations in Pandas**

---

In [0]:
import pandas as pd

In [2]:
from google.colab import files
upload = files.upload()

Saving nba.csv to nba.csv

In [0]:
nba = pd.read_csv('nba.csv')

In [5]:
nba.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

In [6]:
nba['Salary'].add(50000)

0      7780337.0
1      6846117.0
2            NaN
3      1198640.0
4      5050000.0
         ...
453    2483333.0
454     950000.0
455    2950000.0
456     997276.0
457          NaN
Name: Salary, Length: 458, dtype: float64

In [7]:
nba['Salary']+50000

0      7780337.0
1      6846117.0
2            NaN
3      1198640.0
4      5050000.0
         ...
453    2483333.0
454     950000.0
455    2950000.0
456     997276.0
457          NaN
Name: Salary, Length: 458, dtype: float64

In [8]:
nba['Age'].add(5)

0      30.0
1      30.0
2      32.0
3      27.0
4      34.0
       ...
453    31.0
454    29.0
455    31.0
456    31.0
457     NaN
Name: Age, Length: 458, dtype: float64

In [9]:
nba['Age']+5

0      30.0
1      30.0
2      32.0
3      27.0
4      34.0
       ...
453    31.0
454    29.0
455    31.0
456    31.0
457     NaN
Name: Age, Length: 458, dtype: float64

In [10]:
nba['Weight'].mul(0.453)

0       81.540
1      106.455
2       92.865
3       83.805
4      104.643
        ...
453     91.959
454     81.087
455    115.968
456    104.643
457        NaN
Name: Weight, Length: 458, dtype: float64

In [11]:
nba['Weight']*0.453

0       81.540
1      106.455
2       92.865
3       83.805
4      104.643
        ...
453     91.959
454     81.087
455    115.968
456    104.643
457        NaN
Name: Weight, Length: 458, dtype: float64

In [0]:
nba['Weight in KG'] = nba['Weight']*0.453592

In [13]:
nba.head()

            Name            Team  ...     Salary Weight in KG
0  Avery Bradley  Boston Celtics  ...  7730337.0    81.646560
1    Jae Crowder  Boston Celtics  ...  6796117.0   106.594120
2   John Holland  Boston Celtics  ...        NaN    92.986360
3    R.J. Hunter  Boston Celtics  ...  1148640.0    83.914520
4  Jonas Jerebko  Boston Celtics  ...  5000000.0   104.779752

[5 rows x 10 columns]