# **Rank methods in Pandas**

---

In [0]:
import pandas as pd

In [2]:
from google.colab import files
upload = files.upload()

Saving nba.csv to nba.csv

In [0]:
nba = pd.read_csv('nba.csv').dropna(how='all')

In [4]:
nba.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

In [0]:
nba['Salary'] = nba['Salary'].fillna(0).astype(int)

In [6]:
nba.head()

            Name            Team  Number  ... Weight            College   Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        0
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000

[5 rows x 9 columns]

In [7]:
nba['Salary'].rank(ascending=False).astype(int)

0       97
1      110
2      452
3      322
4      147
      ...
452    250
453    241
454    383
455    214
456    367
Name: Salary, Length: 457, dtype: int64

In [0]:
nba['Salary Rank'] = nba['Salary'].rank(ascending=False).astype(int)

In [9]:
nba.head()

            Name            Team  ...   Salary Salary Rank
0  Avery Bradley  Boston Celtics  ...  7730337          97
1    Jae Crowder  Boston Celtics  ...  6796117         110
2   John Holland  Boston Celtics  ...        0         452
3    R.J. Hunter  Boston Celtics  ...  1148640         322
4  Jonas Jerebko  Boston Celtics  ...  5000000         147

[5 rows x 10 columns]

In [10]:
nba.sort_values(by='Salary',ascending=False)

                Name                    Team  ...    Salary Salary Rank
109      Kobe Bryant      Los Angeles Lakers  ...  25000000           1
169     LeBron James     Cleveland Cavaliers  ...  22970500           2
33   Carmelo Anthony         New York Knicks  ...  22875000           3
251    Dwight Howard         Houston Rockets  ...  22359364           4
339       Chris Bosh              Miami Heat  ...  22192730           5
..               ...                     ...  ...       ...         ...
353    Dorell Wright              Miami Heat  ...         0         452
264    Jordan Farmar       Memphis Grizzlies  ...         0         452
409       Greg Smith  Minnesota Timberwolves  ...         0         452
273   Alex Stepheson       Memphis Grizzlies  ...         0         452
270   Xavier Munford       Memphis Grizzlies  ...         0         452

[457 rows x 10 columns]